index.pdf
texput.log
missfont.log
resources/
index.docx
index.html
chicago/chicago-annotated-bibliography.csl
chicago/chicago-author-date-16th-edition.csl
chicago/chicago-author-date-basque.csl
chicago/chicago-author-date-de.csl
chicago/chicago-author-date-fr.csl
chicago/chicago-author-date.csl
chicago/chicago-figures.csl
chicago/chicago-fullnote-bibliography-16th-edition.csl
chicago/chicago-fullnote-bibliography-fr.csl
chicago/chicago-fullnote-bibliography-short-title-subsequent.csl
chicago/chicago-fullnote-bibliography.csl
chicago/chicago-library-list.csl
chicago/chicago-note-bibliography-16th-edition.csl
chicago/chicago-note-bibliography-with-ibid.csl
chicago/chicago-note-bibliography.csl
